

table, th, td{
    padding: 20px;
    align-content: space-around;
    font-size: 25px;
}

th{
    text-align: left;
}

h1{
    font-style: italic;
}


h2{
    font-size: medium;
}

h3{
    font-size: 40px;
    text-align: center;

}

#calcButton{
    background-color: mediumvioletred;
    color: lightgoldenrodyellow;
    padding: 15px;

}
label.error{
    color:red;
}